<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>Inserte un objeto</h1>
    </div>
    <div class="col-6">
      <h4>Cantidad de objetos (X)</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <p>Utilice esta área de texto para agregar cosas.</p>
      <form class="form-horizontal">
        <input type="text" class="form-control" name="item" placeholder="">
        <input type="submit" class="btn btn-primary mt-2" value="Agregar">
      </form>
    </div>
    <div class="col-6 border fondito">
      <div class="alert alert-dark mt-2" role="alert">
        Así serán mis objetos
      </div>
    </div>
  </div>
</div>
